<ion-nav-bar class="bar-dark">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-stable tabs-icon-top">
  <ion-tab title="Today" icon-on="ion-clock" icon-off="ion-clock" href="#/app/today">
    <!-- Tab 1 content -->
    <ion-nav-view name="todayContent">
    </ion-nav-view>
  </ion-tab>

  <ion-tab title="Week" icon-on="ion-calendar" icon-off="ion-calendar" href="#/app/week">
    <!-- Tab 2 content -->
    <ion-nav-view name="weekContent">
    </ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-wrench" icon-off="ion-wrench" href="#/app/settings">
    <!-- Tab 3 content -->
    <ion-nav-view name="settingsContent">
    </ion-nav-view>
  </ion-tab>
</ion-tabs>
