<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-positive tabs-icon-top">
  <ion-tab title="Today" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/app/today">
    <!-- Tab 1 content -->
    <ion-nav-view name="todayContent">
    </ion-nav-view>
  </ion-tab>

  <ion-tab title="Week" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/app/week">
    <!-- Tab 2 content -->
    <ion-nav-view name="weekContent">
    </ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/app/settings">
    <!-- Tab 3 content -->
    <ion-nav-view name="settingsContent">
    </ion-nav-view>
  </ion-tab>
</ion-tabs>
