<ion-view view-title="Settings">
  <ion-content>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Ravintola
        </div>
        <select>
          <option>Dynamo</option>
          <option>Rajakatu</option>
          <option>Mitäs näitä nyt on</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Näkymä
        </div>
        <select>
          <option>Tänään</option>
          <option>Koko viikko</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Kieli
        </div>
        <select>
          <option>Suomi</option>
          <option>Englanti</option>
        </select>
      </label>
    </div>
  </ion-content>
</ion-view>
