<ion-view view-title="JAMK Ravintola Bittipannu, Dynamo">
  <div class="bar bar-subheader">
    <h2 class="title">Keskiviikko</h2>
  </div>
  <ion-content class="has-header has-subheader">
    <ion-list ng-repeat="menuItem in menuData.tuesday">
      <div class="card">
        <div class="item item-divider item-text-wrap">
          {{menuItem.title_fi}}
        </div>
        <div class="item item-text-wrap">
          <div ng-hide='menuItem.desc_fi == ""' class="menuitem-label">
            {{menuItem.desc_fi}}
          </div>
          <div ng-hide='menuItem.properties == ""' class="menuitem-label">
            {{menuItem.properties}}
          </div>
          <div ng-hide='menuItem.price == ""' class="menuitem-label">
            {{(menuItem.price | priceFilter) + "€"}}
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
